<!DOCTYPE html>
<html>
<head>
    <title>Knowledge Graph</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/cytoscape/2.3.16/cytoscape.min.js"></script>
    <script src="/static/js/code.js"></script>
</head>
<body><h3>Your Question</h3>
<div>章子怡小姐姐演过的电影</div>
<h3>Answer</h3>
<div>角色于我, Cause: The Birth of Hero, Untitled Cloverfield Movie, Godzilla vs. Kong, 从天儿降, Godzilla: King of Monsters, 罗曼蒂克消亡史, 奔爱, 龙在哪里？, 无问西东, 太平轮(下), 在一起, 星星点灯, 太平轮(上), 越来越好之村晚, 非常幸运, 危险关系, 最爱, 一代宗师, Mei Lanfang, 茉莉花开, オペレッタ狸御殿, 紫蝴蝶, 建国大业, 조폭 마누라 2: 돌아온 전설, Fei chang wan mei, Horsemen, Shu shan zheng zhuan, Ye yan, 我的父亲母亲, 十面埋伏, Rush Hour 2, Memoirs of a Geisha, TMNT, 무사, 2046, 卧虎藏龙, 英雄, <br></div>
<h3>You Might Like this</h3><div>黄晓明, 陈凯歌, 佟大为, 吴刚</div>龙在哪里？, 角色于我, 星星点灯, 从天儿降</div><h3>Movie Graph</h3>
  <div id="cy"></div>
</body>
</html>