<!DOCTYPE html>
<html>
<head>
    <title>学习Cytoscape.js和neo4j</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/cytoscape/2.3.16/cytoscape.min.js"></script>
    <script src="/static/js/code.js"></script>
</head>
<body>
  <h1>You are using a GET method to access this webpage</h1>
  <div>Nothing to show here.</div>
  <h1>Movie Graph</h1>
  <div id="cy"></div>
</body>
</html>